@tailwind base;
@tailwind components;
@tailwind utilities;

/* herbruikbare input-stijl */
.input {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
  background-color: #ffffff;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  outline: none;
}

.input:focus {
  border-color: #000000;
  box-shadow: 0 0 0 1px #000000;
}